@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-gray-900 text-white min-h-lvh;
}

.font-playfair-display {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.font-poiret-one {
	font-family: 'Poiret One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

main a:not(.btn) {
	@apply text-yellow-500 underline hover:no-underline hover:text-yellow-600;
}

ul {
	@apply list-disc pl-4;
}

ul li {
	@apply mb-2;
}

code {
	@apply bg-gray-800 text-white rounded-md px-2 py-0.5;
}

code.cmd {
	@apply select-all;
}

code.cmd::before {
	content: '$ ';
	@apply text-teal-300;
}
